{% extends 'layout.html' %}

{% block content %}
<div class="container" style="justify-content: center; display: flex; align-items: center; height: 90vh;">
    <div class="col-lg-6">
        <h4 class="mb-3">{{ title }}</h4>
        <br>
        <form class="needs-validation" method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row g-3">
                <div class="col-sm-12">
                    {{ form.title.label(class='form-label') }}

                    {% if form.title.errors %}
                        {{ form.title(class='form-control') }}
                        {% for error in form.title.errors %}
                            {{ form.title(class='form-control') }}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.title(class='form-control') }}
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    {{ form.content.label(class='form-label') }}

                    {% if form.content.errors %}
                        {{ form.content(class='form-control') }}
                        {% for error in form.content.errors %}
                            {{ form.content(class='form-control') }}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.content(class='form-control') }}
                    {% endif %}
                </div>

                <div class="col-sm-12">
                    {{ form.picture.label(class='form-label') }}
                    <div class="input-group">
                        {{ form.picture(class='form-control') }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>


                <div class="col-sm-12">
                    <hr class="my-4">

                    {{ form.submit(class='w-100 btn btn-dark btn-lg') }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
